FORMS_PUBLIC_API="https://api.forms.yandex.net/v1" # api
FORMS_OAUTH_TOKEN="YOUR_TOKEN_GOES_HERE" # your oauth token with permissions to write and read forms
SURVEY_ID="ID_FOR_THE_SURVEY" # id for your form or survey
SAVE_LOCALLY=true # can be true or false
FILE_FORMAT="csv" # Can be either xlsx or csv
UPLOAD="default" # Can be either default or disk
UPLOAD_FILES=false # can be true or false